#body
  %h1 Patterns
  %p
    Patterns are visual conditions that are used to identify data in sites which do not have a defined extractor.
  %p
    -if @patterns.empty?
      Currently, there are no patterns.
    -else
      %ul.detail
        -@patterns.each do |pattern|
          -uri = pattern.sc::type.first.to_s
          %li
            %span.action
              %a{:href=>"#{settings.base_uri}/patterns/#{CGI::escape(pattern.to_s)}", :'data-method'=>:delete, :'data-confirm'=>"Are you sure you want to delete this pattern?"}
                X
            %span.name
              -if !uri.include?('*')
                %a{:href=>"#{settings.base_uri}/patterns/#{CGI::escape(pattern.to_s)}"}=uri
              -else
                =uri
      %p
        %a{:href=>"#{settings.base_uri}/patterns/visual"} See patterns visually
        |
        %a{:href=>"#{settings.base_uri}/patterns", :'data-method'=>:delete, :'data-confirm'=>"Are you sure you want to delete all the patterns?"} Delete all patterns